[Unit]
Description=DD Deposit Area Service

[Service]
ExecStart=/opt/dans.knaw.nl/dd-deposit-area/bin/dd-deposit-area server /etc/opt/dans.knaw.nl/dd-deposit-area/config.yml
# Java returns 143 even if the SIGTERM was handled correctly.
SuccessExitStatus=143

User=dd-deposit-area
Group=dd-deposit-area

[Install]
WantedBy=multi-user.target
